# ===================== CubeMX 相关 =====================
.mxproject/
*.bak
# CubeMX日志
*.log

# ===================== Keil MDK 工程 =====================
# 用户个人界面、调试配置（多人协作必忽略）
*.uvoptx
*.uvguix.*
*.uvopt
*.uvgui.*
*.uvmpw
**/DebugConfig/
*.dbgconf

# 编译输出文件夹
**/Objects/
**/Listings/

# 编译产物、中间文件
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.crf
*.o
*.d
*.dep
*.iex
*.plg
*.build_log.htm
*.lnp
*.sct
*.htm

# 临时文件
*.tmp
*~

# ===================== VSCode Keil助手插件日志 =====================
uv4.log
uv4.log.lock

# ===================== J-Link / 调试工具 =====================
JLinkLog.txt
JLinkSettings.ini

# ===================== IDE、系统缓存 =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===================== 其他备份文件 =====================
*_backup.*
# ===================== Python =====================
__pycache__/
*.pyc
